<ng-template #viewimg let-c="close" let-d="dismiss">
    <div class="modal-header text-white bg-dark" *ngIf="selectedNews !== null">
        <h4 class="modal-title" id="modal-basic-title">{{ selectedNews.title }}</h4>
        <button type="button" class="close text-white" style="outline: none" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body" style="padding: 30px; margin-bottom: 20px">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <img [src]="getImgByPath(selectedNews.fileName)" style="width: 100%" />
            </div>
            <div class="col-md-2"></div>
        </div>
        <hr />
        <div class="row" style="margin-top: 20px">
            <div class="col-md-12">
                <div [innerHTML]="selectedNews.content"></div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="c('Save click')">Close</button>
    </div>
</ng-template>

<div class="card">
    <div class="py-2" style="font-size: x-large">
        <a class="text-black ml-5"><b>Manage News</b></a>
    </div>
    <div class="table-wrapper">
        <table class="table table-hover table-sm">
            <thead>
                <tr class="text-center">
                    <th scope="col">Id</th>
                    <th scope="col">News Title</th>
                    <th scope="col">Admin Approval</th>
                    <th scope="col">Publisher Approval</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody class="text-center">
                <tr *ngFor="let news of newsList; let i = index">
                    <td>{{ i + 1 }}</td>
                    <td>
                        {{ news.title }}
                        <p class="text-center" style="font-size: smaller">{{ news.time | date: 'medium' }}</p>
                    </td>
                    <td>{{ news.adminApproval === 1 ? 'Yes' : 'No' }}</td>
                    <td>{{ news.publisherApproval === 1 ? 'Yes' : 'No' }}</td>
                    <td>
                        <button class="btn btn-md m-1" (click)="selectedNews = news; openXl(viewimg)" style="color: skyblue">
                            <i class="fa fa-eye" aria-hidden="true"></i>
                        </button>
                        <button *ngIf="news.publisherApproval === 0" (click)="clickOnPublisherStatus(news.id, 1)" class="btn" style="color: rgb(9, 216, 9); font-size: 18px">
                            <i class="fa fa-check"></i>
                        </button>
                        <button *ngIf="news.publisherApproval === 1" (click)="clickOnPublisherStatus(news.id, 0)" class="btn" style="color: red; font-size: 18px">
                            <i class="fa fa-times"></i>
                        </button>
                        <button (click)="clickOnDelete(news.id)" class="btn" style="color: red; font-size: 18px">
                            <i class="fa fa-trash"></i>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
