<div class="row">
    <div class="col-md-9">
        <div class="card shadow-lg p-3 mb-5 bg-white rounded">
            <div class="card-body">
                <h5 class="card-title">
                    <div class="form-group">
                        <input class="form-control" style="width: 100%;" type="text" placeholder="Title"/>
                    </div>
                </h5>
                <editor
                    name="content"
                    placeholder="Your Notepad Data Comes Here... "
                    [init]="{
                        base_url: '/tinymce',
                        suffix: '.min',
                        height: 500,
                        branding: false,
                        plugins: [
                            'advlist autolink lists link image charmap print preview anchor',
                            'searchreplace visualblocks code fullscreen',
                            'insertdatetime media table paste code help wordcount'
                        ],
                        toolbar:
                            'fullscreen | formatselect | undo redo | bold italic backcolor | \
                            alignleft aligncenter alignright alignjustify | \
                            bullist numlist outdent indent | removeformat | help'
                    }">
                </editor>
                <div class="form-group m-3">
                    <button class="btn btn-success">
                        Publish
                    </button>
                </div>
            </div>
        </div>
    </div>
    
    <div class="col-md-3">
        <div class="card shadow-lg p-3 mb-5 bg-white rounded">
            <div class="card-body" style="min-height: 200px;">
                <h5 class="card-title">News Thumbnail</h5>
                <br />
                <div class="form-group">
                    <input class="form-control-file" type="file"/>
                </div>
            </div>
        </div>
    </div>
</div>