<div class="card">
    <div class="py-2" style="font-size: x-large;">
        <a class="text-black ml-5"><b>Manage News</b></a>
    </div>
    <div class="table-wrapper">
        <table class="table table-hover table-sm">
            <thead>
                <tr class="text-center">
                    <th scope="col">Id</th>
                    <th scope="col">News Title</th>
                    <th scope="col">News Discription</th>
                    <th scope="col">Author</th>
                    <th scope="col">Image</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody class="text-center">
                <tr *ngFor="let news of newsList">
                    <td>1</td>
                    <td>{{news.title}}</td>
                    <td>{{news.description}}</td>
                    <td>Author Name</td>
                    <td>{{news.img}}</td>
                    <td>
                        <button class="btn" style="color: rgb(9, 216, 9); font-size: 18px;">
                            <i class="fa fa-check"></i>
                        </button>
                        <button class="btn" style="color: red; font-size: 18px;">
                            <i class="fa fa-times"></i>
                        </button>
                        <button class="btn" style="color: red; font-size: 18px;">
                            <i class="fa fa-trash"></i>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
