<div class="row justify-content-center">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <form class="form-container" [formGroup]="signupForm" (ngSubmit)="functionOnSubmit()">
            <p class="h4 mb-5 text-center">Signup</p>
            <div style="text-align: center">
                <img [lazyLoad]="brandImage" [defaultImage]="defaultImage" class="img-rounded" style="max-width: 400px; max-height: 200px" />
            </div>

            <div class="form-group">
                <label>Name</label>
                <input [ngClass]="{'is-invalid': submitted && f.name.errors}" formControlName="name" type="text" class="form-control" aria-describedby="nameHelp" placeholder="Enter Name" />

                <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                    <div *ngIf="f.name.errors.required">Name is required</div>
                </div>
            </div>

            <div class="form-group">
                <label>Role</label>
                <select [ngClass]="{'is-invalid': submitted && f.role.errors}" class="form-control" formControlName="role">
                    <option disabled value="">Select Role</option>
                    <option value="READER">Reader</option>
                    <option value="PUBLISHER">Publisher</option>
                </select>

                <div *ngIf="submitted && f.role.errors" class="invalid-feedback">
                    <div *ngIf="f.role.errors.required">Role is required</div>
                </div>
            </div>

            <div class="form-group" *ngIf="this.f.role.value === 'PUBLISHER'">
                <label>ID Proof [.jpg]</label>
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-mobile"></i></span>
                    <input type="file" (change)="onFileSelected($event)" class="custom-file-input" accept=".jpg" placeholder="Choose File" />
                    <label *ngIf="this.fileToUpload == null" class="custom-file-label">Choose file</label>
                    <label *ngIf="this.fileToUpload != null" class="custom-file-label">{{ this.fileToUpload.name }}</label>
                </div>
            </div>

            <div class="form-group">
                <label>Mobile No</label>
                <div class="input-group">
                    <input [ngClass]="{'is-invalid': submitted && f.mobileNo.errors}" type="number" class="form-control" formControlName="mobileNo" placeholder="Enter Mobile No." />

                    <div *ngIf="submitted && f.mobileNo.errors" class="invalid-feedback">
                        <div *ngIf="f.mobileNo.errors.required">MobileNo is required</div>
                        <div *ngIf="!f.mobileNo.errors.required">MobileNo is invalid</div>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label>Password</label>
                <div class="input-group">
                    <input [ngClass]="{'is-invalid': submitted && f.password.errors}" type="password" class="form-control" formControlName="password" id="password" placeholder="Enter Password" />

                    <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                        <div *ngIf="f.password.errors.required">Password is required</div>
                        <div *ngIf="!f.password.errors.required">Password is invalid</div>
                    </div>
                </div>
            </div>

            <button type="submit" class="btn btn-primary btn-block">Create Account</button>
            <a routerLink="/signin">
                <p class="m-2 text-center" style="font-size: 0.8rem">Already have an account?</p>
            </a>
        </form>
    </div>
    <div class="col-md-3"></div>
</div>
