<div class="row justify-content-center">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <form class="form-container">
            <p class="h4 mb-5 text-center">Signup</p>
            <div style="text-align: center;">
                <img [lazyLoad]="brandImage" [defaultImage]="defaultImage" class="img-rounded" style="max-width: 400px; max-height: 200px;"/>
            </div>
            <div class="form-group">
                <label>Name</label>
                <input type="text" class="form-control" placeholder="Your Name" />
                <small class="form-text text-muted">We'll never share your details with anyone else.</small>
            </div>
            <div class="form-group">
                <label>Email address</label>
                <input type="email" class="form-control" placeholder="Your EmailId" />
            </div>
            <div class="form-group">
                <label>Password</label>
                <input type="password" class="form-control" placeholder="Password" />
            </div>
            <button type="submit" class="btn btn-primary btn-block">Create Account</button>
            <a routerLink="/signin">
                <p class="m-2 text-center" style="font-size: 0.8rem;">Already have an account?</p>
            </a>
        </form>
    </div>
    <div class="col-md-3"></div>
</div>
